<link rel="stylesheet" href="/css/style.css">
<h1 class="tipografia">Carrito detallado</h1>

{{#if cart}}
<div class="cartsDetails1">
    <h2 class="cart-id2">ID de Carrito: {{cart._id}}</h2>
    <p class="total-products2">Productos total: {{cart.products.length}}</p>
    <ul class="products-list2">
        {{#each cart.products}}
        <li class="product-item2">
            <p class="product-title2">Nombre: {{this.product.title}}</p>
            <p class="product-quantity2">Cantidad: {{this.quantity}}</p>
            <p class="product-price2">precio: ${{this.product.price}}</p>
            <p class="product-id2">ID de producto: {{this.product._id}}</p>
        </li>
        {{/each}}
    </ul>
    <hr>
    <p class="cart-total2">Total: ${{calculateTotalPrice cart.products}}</p>

</div>
<br>
{{else}}
<p class="no-products2">No products in this cart</p>
{{/if}}

<a href="/carts" class="btnBack2Carts" id="add2Cart">Back to carts</a>