<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{product.title}} - Detalles</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="cartsDetails1">
        <h2>{{product.title}}</h2>
        <p class="detail-products02">{{product.description}}</p>
        <p>Price: ${{product.price}}</p>
        <p>Category: {{product.category}}</p>
        <p>Stock: {{product.stock}}</p>
        {{#if product.img}}
        <img src="{{product.img}}" alt="{{product.title}}" style="max-width: 600px;">
        {{/if}}
        {{#each product.thumbnails}}
        <img src="{{thumbnails}}" alt="Thumbnail" style="max-width: 100px;">
        {{/each}}
    </div>
    <div class="btnbck" id="btncntrr">
        <a href="/products" class="btnBtp pointer">Volver a Productos</a><br>
        <a href="/" class="pointer">Volver al Inicio</a>
    </div>
</body>

</html>